<!DOCTYPE html>
<html>

<head>
  <title>Beer Me! Suggest a Beer for my Face</title>

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <!-- Javascript Code that handles Face++,BrewDB, & uploadcare -->
  <script src="script.js"></script>

  <!-- Materialize CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="reset.css"> -->
    <link rel="stylesheet" href="styles.css" type="text/css">
  
  
</head>

<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Mood Brews</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
          </ul>
        </div>
      </nav>

  <!-- Page title         -->
  <h1>MOOD BREWS</h1>

  <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">

            <div class="card-image-container">
              <img class="bottle" src="https://i.imgur.com/EgXo3Ju.png">
              <div class="profile"></div>
                <div class="beer-label">
                  <div class="card-title black green-text text-green accent-3">  
                    <!-- Beer bottle image -->
                    <div class="name"></div>
                    <div class="abv"></div>
                    <div class="image"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="card-content">
            <!-- returned emotion parameters-->
                <span class="happiness"></span>
                <span class="sadness"></span>
                <span class="disgust"></span>
                <span class="anger"></span>
                <span class="surprise"></span>
             
          </div>
          <div class="card-action">
            <!-- script that handles uploadcare UI -->
              <script>
                  UPLOADCARE_PUBLIC_KEY = "890c3da7eb6aeb118171";
              </script>
                <script charset="utf-8" src="//ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
                <input type="hidden" role="uploadcare-uploader" name="my_file" id="uploadcare-file" />

                
          </div>
        </div>
      </div>
    </div>
</body>

</html>