.large material-icons{
	font-size:30px;
}

h3, .brand-logo{
    font-family: 'Spicy Rice', cursive;
    text-align: center;
}

p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.pic{
    border-radius: 40%;
    position: absolute;
    top: 550px;
    left: 30px;
    z-index: 1;
    height: 30%;
    width: 214px;   
}


body{
    background-color: #ffecb3;
}
