.large material-icons{
	font-size:30px;
}

h3, .brand-logo{
    font-family: 'Spicy Rice', cursive;
    text-align: center;
}

p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.card .card-image img {
    display: block;
    border-radius: 50%;
    position: relative;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
}

.profile{
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 150px;
    z-index: 1;
    height: 300px;
    width: 200px;   
}

body{
    background-color: #ffecb3;
}