.large material-icons{
	font-size:30px;
}

.bottle {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 0 ;
}
.profile{
    position: absolute;
    top: 125px;
    left: 0;
    z-index: 1;
}

/* .profile{
    z-index: 0;
} */