.nav-wrapper{
	background-color: #006064;
}
.page-footer{
	background-color: #006064;
}


}
.card-image{
	padding: 5px;
}

.navbar-fixed {position: absolute;z-index:999999999;}

#value1{
	margin-top: 100px;
}